.RoomList {
  min-height: 100vh;  
  font-size: calc(10px + 2vmin);
  margin-left: 3rem;
}

.RoomLink {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  width: 20rem;
  max-width: 100vh;
  background-color: #AED6F1;
  color: #1B4F72;
}

:link {
  text-decoration: none;  
}

.Version {
  margin: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
}