.App {
  text-align: center;
  min-height: 100vh;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Version {
  margin: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
}